ion-item{
    --background: #DEBB62; 
}

.centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.centrob {
    --padding-left: 50px;
}

.margem{
    --padding-top: 80px;
}




